

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(209, 207, 207);
}

.intro-text {
    flex: 1;
    margin-right: 20px;
    text-align: left;
}

.intro img {
    max-width: 200px; 
    height: auto;
}

.about-us {
    text-align: center;
    padding: 20px;
}
.posts article {
    margin-bottom: 20px;
}

.posts img {
    max-width: 100%;
    height: auto;
    display: block;
}

.posts a {
    text-decoration: none;
    color: inherit;
}

.posts h3 {
    margin-top: 10px;
}
.posts{
    max-width: 200px; 
    height: auto;
}

.ps_detail img{
    max-width: 100px; 
    height: auto;
    margin-bottom: 20px;
}
.header {
        background-color: #f8f9fa;
        padding: 15px 600px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        background-color: aquamarine;
    }