<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <meta name="description" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
<ul>
    {%for rev in reviews%}
    <li>{{ rev.user_name }}</li>
    <li>{{ rev.text }}</li>
    <li>{{ rev.rating }}</li>
    {% endfor %}
</ul>
</body>
</html>