
{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'base.css' %}">

<section id="posts" class="posts">
    <h2>Product</h2>
    <div>
        {% for post in Postaa %}
        <img src="{{ post.image }}"  style="max-width: 100%;">
        <div >{{post.product_name}}</div><br>
            <a href= "{% url 'card_details' post.id%}"  class="btn"><button>click details</button></a><br>
        </article><br>
        {% endfor %}
    </div>
</section>
{% endblock %}

