    {% extends 'base.html' %}

    {% load static %}

    {% block content %}

    <link rel="stylesheet" href="{% static 'base.css' %}">

    <h2 class="element">Latest Post</h2>
    <div class="container">
    <div class="card-container">
        {% for post in Postaa %}
    <div class="card">
    {% if post.Image %}
        <img src="{{ post.Image.url }}" class="card-img-top" alt="{{ post.Image }}">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ post.BikeName }}</h5>
        <p class="card-description">{{ post.Description|truncatewords:20 }}</p>
        <a href="{% url 'card_details' post.slug %}" class="card-link">Read More</a>
    </div>
    </div>
    {% endfor %}

    </div>
    </div>

    {% endblock %}
