{%load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Details</title>
    
    {% block css_file%} <link rel="stylesheet" href="{% static 'base.css' %}">{% endblock %}
   
</head>
<body class="detail">
    {% include 'app/includes/header.html' %}

    
    <section id="post-details">
        <img src="{{ desc.Image.url }}">
        <h2>{{ post_id }}</h2>
        {% comment %} <h1>Details of post {{ post_id }}</h1> {% endcomment %}
        <h1>Model:  {{desc.BikeName}}</h1>
        <p>Description:  {{desc.Description}}</p>
        <p>Date:  {{desc.Date}}</p>
        <p>Time:  {{desc.Time}}</p>
        <p>Current Time:  {{desc.Current_time}}</p>
    </section><br>
    <button><a href="{% url 'command' %}">Add command</a></button><br><br>
    {% if comments %}
   
        {% for com in comments %}
           
                <strong>{{ com.user_name }}</strong> commented:
                <p>{{ com.text }}</p>
            
        {% endfor %}
    
    {% else %}
    <p>No comments yet. Be the first to comment!</p>
    {% endif %}

</body>
</html>
