{% comment %} {% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="form-container">
    <h2>Add New Post</h2>
    <form id="postForm" action="/post/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <h3>Name</h3>
            {{ form.user_name }}
        </div>
        <div class="form-group">
            <h3>Email</h3>
            {{ form.user_email }}
        </div>
        <div class="form-group">
            <h3>Text</h3>
            {{ form.text }}
        </div>
        <div class="form-group">
            <h3>{{ form.post.label_tag }}</h3>
            {{ form.post }}
        </div>
        <button type="submit" class="btn-submit">Submit</button>
    </form>
</div>

<script>
    // Add event listener to update the form action when post dropdown changes
    document.getElementById('id_post').addEventListener('change', function () {
        var form = document.getElementById('postForm');
        form.action = "/post/" + this.options[this.selectedIndex].text.trim().toLowerCase().replace(/\s+/g, '-');
    });
</script>

{% endblock %} {% endcomment %}




{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    {% include 'app/includes/header.html' %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <button type="submit"> add</button>
    </form>
</body>
</html>