{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'app/includes/header.html' %}



<!-- #HOME Section -->
<div class="intro">
    <div class="intro-text">
        <h1>Welcome to Myportfolio</h1>
        <p>I am Prasanth M M, a 23-year-old software developer currently working at Changepond Technologies. With expertise in Python, Django, React, Angular, MySQL, AWS Cloud, HTML, and CSS, I bring a comprehensive skill set to both front-end and back-end development. My experience encompasses creating efficient and scalable solutions, and I am passionate about delivering user-friendly applications that meet client needs and exceed expectations.</p>
    </div>
    <img class="introimg"  src="{% static 'css/prasanth.png' %}" alt="Profile Image">
</div><br>


<!-- #POST Section -->
<div id="posts">
    {% include 'app/all_post.html' %}
</div>


<!-- #ABOUT ME Section -->
<section id="about-us">
    <h2>About</h2>
    <p>At Changepond Technologies, we are committed to delivering cutting-edge software solutions tailored to meet the unique needs of our clients. Our team of experts specializes in creating robust and scalable applications across various technologies. We pride ourselves on our client-centric approach, ensuring that every project is executed with precision and care. With a focus on innovation and excellence, we strive to stay ahead of industry trends and continuously improve our offerings. Our goal is to provide high-quality, reliable software solutions that drive success and exceed expectations. Passionate about technology, we are dedicated to making a positive impact through our expertise and commitment to excellence.</p>
</section>


<!-- Footer -->
<footer>
    <p>&copy; 2024 Changepond Technologies. All Rights Reserved.</p>
</footer>

{% endblock %}
